You've chosen <%= @player.name %>!

<div id="columns" class="columns_2">
    <figure>
      <img src="<%= @player.url %>">
      </figure>
  <figure>
      <figcaption>
        <b>Name:</b> <%= @player.name %><br>
        <b>Shirt Color 1:</b> <%= @player.shirt_color_1 %><br>
        <b>Shirt Color 2:</b> <%= @player.shirt_color_2 %><br>
        <b>Shirt Color 4:</b> <%= @player.shirt_color_3 %><br>
        <b>Hair Color:</b> <%= @player.hair_color %><br>
        <b>Eye Color:</b> <%= @player.eye_color %><br>
        <b>Smiling with Teeth?:</b> <%= @player.showing_teeth %><br>
        <b>Wearing a Necklace?:</b> <%= @player.necklace %><br>
        <b>Wearing Earrings?:</b> <%= @player.earrings %><br>
        <b>Wearing Glasses?:</b> <%= @player.glasses %><br>
        <b>Shirt has Collar?:</b> <%= @player.collar %><br>
        <b>Male or Female?:</b> <%= @player.male %><br>
      </figcaption>
    </figure>
</div>